.app_search {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 250px 200px auto auto auto 200px 250px;
  grid-gap: 10px;
  grid-auto-rows: 50px auto 50px;
}

.header_search {
  grid-column: 3/6;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  grid-column: 2/7;
  grid-row: 2;
  display: block;
  justify-content: center;
  align-items: center;
}
.start_div {
  grid-column: 3/6;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_button {
  background-color: yellow;
  border: 1px solid yellow;
}

.start_button:hover {
  background: #bbae00;
  color: #fff;
  border: 1px solid #bbae00;
  cursor: pointer;
}

.appHeader {
  text-align: center;
}

.app_button {
  display: none;
}
