.app_search {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 25px 150px auto 150px 25px;
  grid-gap: 10px;
  grid-auto-rows: 50px auto 50px;
}

.logout_button {
  background-color: black;
  border: 1px solid black;
}

.logout_button:hover {
  background: darkgrey;
  color: #fff;
  border: 1px solid darkgrey;
  cursor: pointer;
}

.header_search {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout_search_div {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  grid-column: 3;
  grid-row: 2;
  display: block;
  justify-content: center;
  align-items: center;
}
.start_div {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_button {
  background-color: yellow;
  border: 1px solid yellow;
}

.start_button:hover {
  background: #bbae00;
  color: #fff;
  border: 1px solid #bbae00;
  cursor: pointer;
}

.cart_div {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_button {
  background-color: blue;
  border: 1px solid blue;
}

.cart_button:hover {
  background: lightblue;
  color: #fff;
  border: 1px solid lightblue;
  cursor: pointer;
}


.appHeader {
  text-align: center;
}

.app_button {
  display: none;
}