.product {
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  margin: 5% 25% 5% 25%;
  grid-template-columns: 20% 50% 20%;
  grid-gap: 5px;
  grid-auto-rows: 20% 10% 50% 20%;
}

.productQuantity {
  text-align: center;
  grid-column: 2;
  grid-row: 4;
}

.productName {
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.productImage {
  grid-column: 2;
  grid-row: 3;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.productimg {
  width: 100%;
  height: 60%;
  max-width: none;
  max-height: none;
  display: center;
  position: center;
}

.productPrice {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}
.addProduct {
  text-align: center;
  grid-column: 1;
  grid-row: 4;
  display: none;
  justify-content: center;
  align-items: center;
}

.removeProduct {
  text-align: center;
  grid-column: 3;
  grid-row: 4;
  display: none;
  justify-content: center;
  align-items: center;
}

.add_button {
  border-radius: 50%;
  background-color: green;
  border: 1px solid green;
}

.add_button:hover {
  background: darkgreen;
  color: #fff;
  border: 1px solid darkgreen;
  cursor: pointer;
}

.remove_button {
  border-radius: 50%;
  background-color: red;
  border: 1px solid red;
}

.remove_button:hover {
  background: darkred;
  color: #fff;
  border: 1px solid darkred;
  cursor: pointer;
}
